.is-modal-container {
    background-color: rgba(0,0,0,0.65);
    border-radius: 5px;
    margin: 10px;
    padding: 10px
}

.is-modal-content {
    padding: 10px;
}

.is-modal-text-pointer {
    font-weight: 700;
    color: var(--color-palette-white);
    cursor: pointer;
}

.is-input-field {
    color: white;
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid white;
    outline: none;
    background: transparent;
}

.is-submit-btn {
    color: white;
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 25px;
    background: linear-gradient(to right, var(--color-palette-blue), var(--color-palette-blue));
    border: 0;
    outline: none;
    border-radius: 30px;
}

.is-form-question {
    color:white;
    display: flex;
    gap: 5px;
    justify-content: center;
}

/* finance */
.is-finance-budget {
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    justify-items: start;
}

.is-finance-warn {
    display: grid;
    grid-template-columns: 0.8fr 0.2fr;
    justify-items: start;
}

/* transaction */
.is-transaction-num {
    display: grid;
    grid-template-columns: .4fr .6fr;
    padding: 10px;
    justify-items: start;
    align-items: center;
}

.is-transactional-type {
    & .MuiInputBase-root {
        color: var(--color-palette-white);
        border-bottom: 2px solid var(--color-palette-white);
        width: 100%;
    }
}

.is-transaction-desc {
    display: grid;
    padding: 10px;
}

.is-numeral-format {
    min-width: 80%;
    background: transparent;
    color: var(--color-palette-white);
    padding-block: 0;
    padding-inline: 0;
    margin: 10px;
    border-style: none;
    border-bottom: 2px solid var(--color-palette-white);
}

.is-transaction-date {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.is-datetime {
    & .MuiInputBase-root {
        color: var(--color-palette-white);
        border-bottom: 2px solid var(--color-palette-white);
    }
    & .MuiSvgIcon-root {
        fill: var(--color-palette-white)
    }
}

.is-textfield {
    & .MuiInputBase-root {
        color: var(--color-palette-white);
        border-bottom: 2px solid var(--color-palette-white);
        font-size: 0.8em;
    }
    &.MuiFormControl-root {
        width: 100%;
    }
}